<div class="row">
  <div class="col-md-8 text-align-center">
    <div class="card ">
      <div class="card-body">
      <h5 class="card-title">leptop</h5>
      <a class='btn btn-success'>leptop</a>
    </div>
    </div>
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">mobile</h5>
      <a class='btn btn-success'>mobile</a>
    </div>
    </div>
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">computer</h5>
      <a class='btn btn-success'>computer</a>
    </div>
    </div>

  </div>
</div>