
<div class="col-md-8 ">
  <h1 style="text-align: center;line-height: 200px;"><a href="https://youtu.be/uUQfi1-g92Q">link</a></h1>
</div>

<div class="row justify-content-center">
  <div class="col-md-8">

  <div class="mb-3">
    
    <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="search"placeholder="search">
    
  </div>

<table class="table table-striped">
 
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">prise</th>
        <th scope="col">avlovle</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor = "let s of productArr | pipe:search">
        <th scope="row">{{s.son}}</th>
        <td>{{s.name}}</td>
        <td>{{s.price}}</td>
        <td>{{s.availity}}</td>
      </tr>
      
    </tbody>
  
</table>
</div>
</div>